<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.key.mapper.FoodMapper" >
  <resultMap id="BaseResultMap" type="com.key.entity.Food" >
    <id column="food_id" property="foodId" jdbcType="INTEGER" />
    <result column="food_sid" property="foodSid" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_type" property="foodType" jdbcType="INTEGER" />
    <result column="food_price" property="foodPrice" jdbcType="DECIMAL" />
    <result column="food_image" property="foodImage" jdbcType="VARCHAR" />
    <result column="food_date" property="foodDate" jdbcType="TIMESTAMP" />
    <result column="food_status" property="foodStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    food_id, food_sid, food_name, food_type, food_price, food_image, food_date, food_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_food
    where food_id = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_food
    where food_id = #{foodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.key.entity.Food" >
    insert into tb_food (food_id, food_sid, food_name, 
      food_type, food_price, food_image, 
      food_date, food_status)
    values (#{foodId,jdbcType=INTEGER}, #{foodSid,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, 
      #{foodType,jdbcType=INTEGER}, #{foodPrice,jdbcType=DECIMAL}, #{foodImage,jdbcType=VARCHAR}, 
      #{foodDate,jdbcType=TIMESTAMP}, #{foodStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.key.entity.Food" >
    insert into tb_food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="foodSid != null" >
        food_sid,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodType != null" >
        food_type,
      </if>
      <if test="foodPrice != null" >
        food_price,
      </if>
      <if test="foodImage != null" >
        food_image,
      </if>
      <if test="foodDate != null" >
        food_date,
      </if>
      <if test="foodStatus != null" >
        food_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="foodSid != null" >
        #{foodSid,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        #{foodType,jdbcType=INTEGER},
      </if>
      <if test="foodPrice != null" >
        #{foodPrice,jdbcType=DECIMAL},
      </if>
      <if test="foodImage != null" >
        #{foodImage,jdbcType=VARCHAR},
      </if>
      <if test="foodDate != null" >
        #{foodDate,jdbcType=TIMESTAMP},
      </if>
      <if test="foodStatus != null" >
        #{foodStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.key.entity.Food" >
    update tb_food
    <set >
      <if test="foodSid != null" >
        food_sid = #{foodSid,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        food_type = #{foodType,jdbcType=INTEGER},
      </if>
      <if test="foodPrice != null" >
        food_price = #{foodPrice,jdbcType=DECIMAL},
      </if>
      <if test="foodImage != null" >
        food_image = #{foodImage,jdbcType=VARCHAR},
      </if>
      <if test="foodDate != null" >
        food_date = #{foodDate,jdbcType=TIMESTAMP},
      </if>
      <if test="foodStatus != null" >
        food_status = #{foodStatus,jdbcType=INTEGER},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.key.entity.Food" >
    update tb_food
    set food_sid = #{foodSid,jdbcType=INTEGER},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_type = #{foodType,jdbcType=INTEGER},
      food_price = #{foodPrice,jdbcType=DECIMAL},
      food_image = #{foodImage,jdbcType=VARCHAR},
      food_date = #{foodDate,jdbcType=TIMESTAMP},
      food_status = #{foodStatus,jdbcType=INTEGER}
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>



  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.key.vo.req.FoodPageReqVO">
    select <include refid="Base_Column_List"></include>
    from tb_food
    <where>
      <if test="foodName !=null and foodName != ''">
        and food_name  like  concat('%',#{foodName},'%')
      </if>
      <if test="foodStatus !=null">
        and food_status = #{foodStatus}
      </if>
      <if test="startTime !=null and startTime !=''">
        and food_date  &gt;= #{startTime}
      </if>
      <if test="endTime !=null and endTime !=''">
        and food_date  &lt;= #{endTime}
      </if>
    </where>
  </select>
</mapper>